.idea/
*.sln.iml
*.csproj.iws
*.user
*.userosscache
*.sln.docstates
_ReSharper.Caches/
*.VC.db

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

.vs/
.vscode/
upgrade_log*.htm

.nuget/
*.nupkg
packages/

.DS_Store
Thumbs.db

*.pidb
*.settings

*.log
*.txt

TestResults/
*.coverage
*.coveragexml

coverage*.json
coverage*.xml
lcov.info
*.lcov

/publish/
/artifacts/

*.TestResult.xml

*.dotCover

*.backup
*.bak

.history/

*.etl
*.trace

.dotnet/